#title {
    text-align: center;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
}

canvas {
    width: 40vw !important;
    height: 40vw !important;
}

body
{
}

#mainBox
{
    display: inline;
}

.alert
{
    border: 1px tomato solid;
    border-radius: 15px;
    width: fit-content;
    padding: 15px;
}

.seenAlert
{
    text-decoration: line-through;
    border: 1px #999 dotted;
    background-color: #bcbcbc;
    border-radius: 15px;
    width: fit-content;
    padding: 15px;
}


#alerts{
    border: #999 1px solid;
    right: 1vw;
    position: absolute;
    top:1vh;
    width: 30vw;
    height: 25vh;
    overflow: auto;
}

thead,
tfoot {
    background-color: rgb(228 240 245);
}

th,
td {
    border: 1px solid rgb(160, 160, 160);
    padding: 8px 10px;
}

td:last-of-type {
    text-align: center;
}

tbody>tr:nth-of-type(even) {
    background-color: rgb(237 238 242);
}

tfoot th {
    text-align: right;
}

tfoot td {
    font-weight: bold;
}

.hidden {
    width: 0px;
    height: 0px;
    font-size: 0px;
    border: 0px;
    display: none !important;
}



#addObservation
{
    position: fixed;
    right: 5vw;
    bottom: 5vh;

}

@keyframes slide {
    from
    {
        bottom: -200px;
    }
    to
    {
        bottom: 0px;
    }
}

.formShow
{
    animation: slide 1s;
}

form {
    margin: 0 auto;
    width: 500px;
    padding: 1em;
    border: 1px solid #ccc;
    background-color: #ffff;
    border-radius: 1em;
    position:absolute;
    bottom: 0px;
    right:0px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li+li {
    margin-top: 1em;
}

label {
    display: inline-block;
    width: 120px;
    text-align: right;
}

input,
textarea {
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
}

input:focus,
textarea:focus {
    border-color: #000;
}

textarea {
    vertical-align: top;
    height: 5em;
    resize: vertical;
}

.button {
}

button {
    cursor:pointer;
    border: 1px solid #999;
}

#settings
{
    background-color: white;
    position: absolute;
    right: 1vw;
    top: 30vh;
    padding: 15px;
    display: inline-block;
    text-align: center;
    border: 1px #999 solid;
    list-style-type: none; 
}

#formButton
{
    margin-top: 10px;
}

.settingsButton
{
    background-color: rgb(255, 255, 255);
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;    
    width: 100px;
}